<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnCmW9628SYNtVfC5P407jX9c9VqN8Vbo</string>
	<key>GCM_SENDER_ID</key>
	<string>870820801286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desaMerdeka</string>
	<key>PROJECT_ID</key>
	<string>desamerdeka-9111c</string>
	<key>STORAGE_BUCKET</key>
	<string>desamerdeka-9111c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870820801286:ios:8389e881ee455591a70c87</string>
</dict>
</plist>